<html>
<head>
    <title>Payment</title>
</head>
<style>
    .admin-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background: #f5f5f5;
        font-family: sans-serif;
    }
    .brand-logo {
        max-width: 100px;
        margin: 0 auto;
        display: block;
      }
</style>
<body class="admin-container">
    <img class="brand-logo" src="https://res.cloudinary.com/dwxly1dc7/image/upload/v1690709239/8838572ba14d424fac2b9eabdcc3215e_zhghil.png" alt="AceWears Logo" />
    <p>Payment has been made</p>
    <p>Order ID: {{ orderId }}</p>
    <p>Amount: {{ amount }}</p>
    <p>Customer: {{ contact.contactName }}</p>
    <p>Email: {{ contact.email }}</p>
    <p>Phone: {{ contact.phone }}</p>
    <p>Payment method: {{  paymentMethod }}</p>
    <p>Payment status: {{ status }}</p>
</body>
</html>
