<!DOCTYPE html>
<html>
  <head>
    <title>Order Initiated</title>
  </head>
  <style>
    .brand-logo {
      max-width: 100px;
      margin: 0 auto;
      display: block;
    }

  </style>
  <body style="font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0;">
    <img class="brand-logo" src="https://res.cloudinary.com/dwxly1dc7/image/upload/v1690709239/8838572ba14d424fac2b9eabdcc3215e_zhghil.png" alt="AceWears Logo" />
    <div style="padding: 20px; background-color: #f2f2f2;">
      <h1 style="color: #007bff;">Hello {{ contact.contactName }},</h1>
      <p>Your order if ID {{ id }} has been Intiated</p>
    </div>
    
    <div style="padding: 20px; background-color: #f2f2f2;">
      <h2 style="color: #007bff;">Order Details</h2>
      <p {% if id %}>Order ID: {{ id }}</p>
      <p {% if payment_status %}>Order Status: {{ payment_status }}</p>
      <p {% if payment_method %}>Payment Method: {{ payment_method }}</p>
      <p {% if contact %}>Contact Name: {{ contact.contactName }}</p>
      <p {% if contact %}>Address: {{ contact.address }}</p>
      <p {% if contact %}>Zip Code: {{ contact.zipCode }}</p>
      <p {% if contact %}>City: {{ contact.city }}</p>
      <p {% if contact %}>Country: {{ contact.country }}</p>
      <p {% if contact %}>Phone: {{ contact.phone }}</p>
    </div>
    <div style="padding: 20px; background-color: #f2f2f2;">
      <h2 style="color: #007bff;">Please complete you payment</h2>
    
    <div style="text-align: center; font-size: 12px; color: #777;">
      This is an automated email. Please do not reply.
    </div>
  </body>

</html>
